[package]
name = "v_utils_macros"
version = "2.0.0"
edition = "2021"
description = "Macros for my utils crate"
rust-version = "1.75"
license = "MIT"
readme = "README.md"
repository = "https://github.com/Valera6/v_utils"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
proc-macro = true

[[test]]
name = "tests"
path = "tests/main.rs"

[dev-dependencies]
insta = "1.41.1"
polars = { version = "0.45.1", default-features = false, features = ["fmt"] } # pains me to add this entire dep for one test. Maybe I'll figure out a way to get rid of this at some point.
serde_json = "1.0.134"
toml = "0.8.19"
trybuild = { version = "^1.0.101", features = ["diff"]}
v_utils = { path = "../v_utils", features = ["full"]}

[dependencies]
proc-macro2 = { version = "^1.0.92" }
syn = { version = "^2.0.90", features = ["full", "extra-traits"] }
quote = { version = "^1.0.38" }
serde.workspace = true
eyre.workspace = true
